body, tbody{
    color: white;
    background-color: darkslategray;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

th,td{
    border-bottom: 1px solid gray;
    padding: 15px;
}

table,thead{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

Content{
    justify-content: center;
}

#exportButton,#viewPasswordTable,#addNewPasswordForm,#startNewVaultForm,#showAddNew{
    display: none;
}